#page-detail {
  padding-bottom: 50px;
  .video-360 {
    height: calc(100vh - 126px);
    iframe {
      height: 100%;
    }

    img {
      height: 100%;
    }
  }

  .wrapper {
    padding-top: 56px;
    font-size: 16px;
    line-height: 22px;
    color: rgba(57, 62, 65, 0.71);

    .modal-review {
      background: #FFFFFF;
      padding: 24px;
      box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
      border-radius: 8px;
      width: 320px;
      left: 11px;
      position: absolute;
      display: none;

      h3 {
        font-weight: 600;
        text-align: left;
        font-size: 16px;
        line-height: 23px;
        color: #393E41;
      }

      .rating {
        text-align: center;

        p {
          text-align: left;
        }
      }
    }

    .post-content {
      text-align: justify;
    }

    .post-decription {
      text-align: justify;
    }

    .title-section {
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: #393E41;
    }

    .name {
      font-weight: 600;
      font-size: 24px;
      color: #019680;
      margin-bottom: 10px;
    }

    .post-statistic {
      margin-bottom: 40px;
    }

    .post-videos {
      margin: 22px 0;
      background: #EFEFF1;
      /* Light Shadow */
      box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
      border-radius: 0px 0px 8px 8px;

      .slider-nav {
        .item {
          padding: 20px;
          cursor: pointer;
          position: relative;

          .icon-360 {
            right: 30px;
            top: 30px;
          }

          img {
            width: 100%;
          }

          .name {
            font-weight: 600;
            font-size: 14px;
            color: rgba(57, 62, 65, 0.61);
            padding-top: 12px;
          }

          &.active {
            .thumb {
              position: relative;

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, #00698c 0%, #06a991 99.94%);
                overflow: hidden;
                border-radius: 8px;
                opacity: 0.6;
              }
            }
          }
        }

        .slick-slide {
          &.slick-current {
            .thumb {
              position: relative;

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, #00698c 0%, #06a991 99.94%);
                overflow: hidden;
                border-radius: 8px;
                opacity: 0.6;
              }
            }
          }
        }
      }

      .dd-slick-prev, .dd-slick-next {
        cursor: pointer;
      }

      .dd-slick-prev img {
        transform: rotate(180deg);
      }
    }

    #btn-nav {
      justify-content: flex-end;
      display: flex;
    }

    .post-info {
      background: #FFFFFF;
      box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 32px;

      .like-share {
        padding: 12px 24px;
        background: #EFEFF1;

        button {
          background: #1F73F0;
          border-radius: 6.4px;
          font-weight: 600;
          font-size: 16px;
          border: none;
          padding: 0 16px;
          line-height: 32px;
          color: #FFFFFF;
          transition: all .5s ease;

          &:hover {
            background: rgba(31, 115, 240, 0.5);
          }
        }
      }

      .info {
        padding: 32px 24px;
        font-size: 16px;
        line-height: 22px;
        color: rgba(57, 62, 65, 0.6);

        div {
          i {
            color: #019680;
            margin-right: 6px;
            font-size: 20px;
          }

          padding: 12px 0;
        }
      }
    }

    .post-other {
      background: #FFFFFF;
      overflow: hidden;
      box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
      border-radius: 8px;
      transition: all .5s ease;

      .box-title {
        font-weight: bold;
        font-size: 18px;
        line-height: normal;
        text-transform: uppercase;
        background: #EFEFF1;
        color: #393E41;
        padding: 15px 24px;
      }

      .list-post {
        padding: 15px 24px;

        .post-item {
          margin-bottom: 30px;
          display: inline-flex;
          width: 100%;

          .item-thumb {
            width: 80px;
            overflow: hidden;
            box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.06);
            border-radius: 8px;
            margin-right: 16px;
            max-height: 60px;

            img {
              min-height: 58px;
            }
          }

          .item-content {
            color: #393E41;
            flex: 3;

            a {
              font-size: 16px;
              font-weight: 600;
              color: #019680;

              &:hover {
                color: #00483d;
              }
            }

            i {
              color: #828282;
            }
          }
        }
      }
    }

    .map {
      margin-top: 30px;
    }

    .weather {
      padding: 60px 0;

      .today {
        display: flex;
        text-align: center;
        padding: 28px;
        align-items: center;

        h2 {
          width: 300px;
          margin-bottom: 0;
        }

        svg {

        }

        .content {
          width: 200px;
          margin-left: 20px;
        }

        h3 {
          font-weight: bold;
          font-size: 30.2727px;
          letter-spacing: 0.07em;
          text-transform: uppercase;
          color: rgba(57, 62, 65, 0.8);
          margin: 0;
        }

        p {
          font-size: 16px;
          color: rgba(57, 62, 65, 0.61);
        }
      }

      .day {
        background: #FFFFFF;
        padding: 28px;
        box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
        border-radius: 8px;

        h4 {
          font-weight: 600;
          font-size: 20px;
          color: #000000;
        }

        .temperature {
          font-weight: 600;
          font-size: 16px;
          color: rgba(33, 150, 83, 0.8);
          margin-top: 14px;

          span:first-child {
            color: rgba(235, 87, 87, 0.81);
            margin-right: 50px;
          }
        }
      }
    }

    .booking-now {
      margin-top: 20px;
      background: #FEC600;
      font-weight: 600;
      font-size: 16px;
      line-height: normal;
      text-align: center;
      color: #735C0D;
      border: none;
      padding: 16px 50px;
      -webkit-transform: all .5s ease;
      -moz-transform: all .5s ease;
      -ms-transform: all .5s ease;
      -o-transform: all .5s ease;
      transform: all .5s ease;

      &:hover {
        background: #ffd850;
      }
    }

    .dd-post-other {
      padding-top: 20px;

      .title {
        text-align: left;
        font-size: 20px;
        padding: 10px 0;
      }
    }
  }
}

.thumb-item {
  position: relative;
  border-radius: 8px;
  height: 240px;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .3s linear;
    background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #000000 99.94%);
    mix-blend-mode: normal;
    opacity: 0.91;
    border-radius: 8px;
  }

  img {
    transition: all .5s ease;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  .content {
    position: absolute;
    bottom: 24px;
    padding: 0 24px;
    z-index: 10;
    color: #fff;
    width: 100%;

    .name {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        transition: all .3s ease;

        &:hover {
          color: #a6f3ec;
        }
      }
    }
  }
}

.float-btn {
  &.fixed {
    position: fixed;
    top: 115px;
    left: 64px;
    z-index: 99;
  }
}

.btn-action {
  background: #E0E0E0;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;

  &.add-fav {
    left: -40px;
  }

  &.remove-fav {
    left: -40px;
    background: #C1ECE5;
  }

  &.remove-like {
    background: #C1ECE5;
    left: -40px;
    top: 48px;
  }

  &.add-like {
    left: -40px;
    top: 48px;
  }
}
