#page-detail .video-360 {
  height: 90vh; }
  #page-detail .video-360 iframe {
    height: 100%; }
  #page-detail .video-360 img {
    height: 100%; }
#page-detail .wrapper {
  padding-top: 56px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(57, 62, 65, 0.71); }
  #page-detail .wrapper .modal-review {
    background: #FFFFFF;
    padding: 24px;
    box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
    border-radius: 8px;
    width: 320px;
    left: 11px;
    position: absolute;
    display: none; }
    #page-detail .wrapper .modal-review h3 {
      font-weight: 600;
      text-align: left;
      font-size: 16px;
      line-height: 23px;
      color: #393E41; }
    #page-detail .wrapper .modal-review .rating {
      text-align: center; }
      #page-detail .wrapper .modal-review .rating p {
        text-align: left; }
  #page-detail .wrapper .title-section {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #393E41; }
  #page-detail .wrapper .name {
    font-weight: 600;
    font-size: 24px;
    color: #019680; }
  #page-detail .wrapper .post-statistic {
    margin-bottom: 40px; }
  #page-detail .wrapper .post-videos {
    margin: 22px 0;
    background: #EFEFF1;
    /* Light Shadow */
    box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
    border-radius: 0px 0px 8px 8px; }
    #page-detail .wrapper .post-videos .slider-nav .slick-slide {
      padding: 20px;
      cursor: pointer;
      position: relative; }
      #page-detail .wrapper .post-videos .slider-nav .slick-slide .icon-360 {
        right: 30px;
        top: 30px; }
      #page-detail .wrapper .post-videos .slider-nav .slick-slide img {
        width: 100%; }
      #page-detail .wrapper .post-videos .slider-nav .slick-slide .name {
        font-weight: 600;
        font-size: 14px;
        color: rgba(57, 62, 65, 0.61);
        padding-top: 12px; }
      #page-detail .wrapper .post-videos .slider-nav .slick-slide.slick-current .thumb {
        position: relative; }
        #page-detail .wrapper .post-videos .slider-nav .slick-slide.slick-current .thumb::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(180deg, #00698c 0%, #06a991 99.94%);
          overflow: hidden;
          border-radius: 8px;
          opacity: 0.6; }
    #page-detail .wrapper .post-videos .dd-slick-prev, #page-detail .wrapper .post-videos .dd-slick-next {
      cursor: pointer; }
  #page-detail .wrapper .post-info {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 32px; }
    #page-detail .wrapper .post-info .like-share {
      padding: 12px 24px;
      background: #EFEFF1; }
      #page-detail .wrapper .post-info .like-share button {
        background: #1F73F0;
        border-radius: 6.4px;
        font-weight: 600;
        font-size: 16px;
        border: none;
        padding: 0 16px;
        line-height: 32px;
        color: #FFFFFF;
        transition: all .5s ease; }
        #page-detail .wrapper .post-info .like-share button:hover {
          background: rgba(31, 115, 240, 0.5); }
    #page-detail .wrapper .post-info .info {
      padding: 32px 24px;
      font-size: 16px;
      line-height: 22px;
      color: rgba(57, 62, 65, 0.6); }
      #page-detail .wrapper .post-info .info div {
        padding: 12px 0; }
        #page-detail .wrapper .post-info .info div i {
          color: #019680;
          margin-right: 16px;
          font-size: 20px; }
  #page-detail .wrapper .post-other {
    background: #FFFFFF;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
    border-radius: 8px; }
    #page-detail .wrapper .post-other .box-title {
      font-weight: bold;
      font-size: 18px;
      line-height: normal;
      text-transform: uppercase;
      background: #EFEFF1;
      color: #393E41;
      padding: 15px 24px; }
    #page-detail .wrapper .post-other .list-post {
      padding: 15px 24px; }
      #page-detail .wrapper .post-other .list-post .post-item {
        margin-bottom: 30px;
        display: inline-flex;
        width: 100%; }
        #page-detail .wrapper .post-other .list-post .post-item .item-thumb {
          width: 80px;
          overflow: hidden;
          box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.06);
          border-radius: 8px;
          margin-right: 16px;
          max-height: 60px; }
          #page-detail .wrapper .post-other .list-post .post-item .item-thumb img {
            min-height: 58px; }
        #page-detail .wrapper .post-other .list-post .post-item .item-content {
          color: #393E41;
          flex: 3; }
          #page-detail .wrapper .post-other .list-post .post-item .item-content a {
            font-size: 16px;
            font-weight: 600;
            color: #019680; }
            #page-detail .wrapper .post-other .list-post .post-item .item-content a:hover {
              color: #00483d; }
          #page-detail .wrapper .post-other .list-post .post-item .item-content i {
            color: #828282; }
  #page-detail .wrapper .map {
    margin-top: 30px; }
  #page-detail .wrapper .weather {
    padding: 60px 0; }
    #page-detail .wrapper .weather .today {
      display: flex;
      text-align: center;
      padding: 28px;
      align-items: center; }
      #page-detail .wrapper .weather .today h2 {
        width: 300px;
        margin-bottom: 0; }
      #page-detail .wrapper .weather .today .content {
        width: 200px;
        margin-left: 20px; }
      #page-detail .wrapper .weather .today h3 {
        font-weight: bold;
        font-size: 30.2727px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: rgba(57, 62, 65, 0.8);
        margin: 0; }
      #page-detail .wrapper .weather .today p {
        font-size: 16px;
        color: rgba(57, 62, 65, 0.61); }
    #page-detail .wrapper .weather .day {
      background: #FFFFFF;
      padding: 28px;
      box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
      border-radius: 8px; }
      #page-detail .wrapper .weather .day h4 {
        font-weight: 600;
        font-size: 20px;
        color: #000000; }
      #page-detail .wrapper .weather .day .temperature {
        font-weight: 600;
        font-size: 16px;
        color: rgba(33, 150, 83, 0.8);
        margin-top: 14px; }
        #page-detail .wrapper .weather .day .temperature span:first-child {
          color: rgba(235, 87, 87, 0.81);
          margin-right: 50px; }
  #page-detail .wrapper .dd-post-other {
    padding-top: 20px; }
    #page-detail .wrapper .dd-post-other .title {
      text-align: left;
      font-size: 20px;
      padding: 10px 0; }

.thumb-item {
  position: relative;
  border-radius: 8px;
  height: 240px;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer; }
  .thumb-item:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .3s linear;
    background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #000000 99.94%);
    mix-blend-mode: normal;
    opacity: 0.91;
    border-radius: 8px; }
  .thumb-item img {
    transition: all .5s ease; }
  .thumb-item:hover img {
    transform: scale(1.1); }
  .thumb-item .content {
    position: absolute;
    bottom: 24px;
    padding: 0 24px;
    z-index: 10;
    color: #fff;
    width: 100%; }
    .thumb-item .content .name {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis; }
      .thumb-item .content .name a {
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        transition: all .3s ease; }
        .thumb-item .content .name a:hover {
          color: #a6f3ec; }

.float-btn.fixed {
  position: fixed;
  top: 115px;
  left: 64px;
  z-index: 99; }

.btn-action {
  background: #E0E0E0;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute; }
  .btn-action.add-fav {
    left: -40px; }
  .btn-action.remove-fav {
    left: -40px;
    background: #C1ECE5; }
  .btn-action.remove-like {
    background: #C1ECE5;
    left: -40px;
    top: 48px; }
  .btn-action.add-like {
    left: -40px;
    top: 48px; }

/*# sourceMappingURL=detail.css.map */
