footer {
  background: $color-title url("../img/bg-footer.png") no-repeat;
  background-position: right;
  padding-top: 56px;
  #logo {
    text-align: center;
    .text {
      font-family: $font-stack;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: normal;
      color: #F9F9F9;
    }
  }
  .about {
    color: #8CD9CD;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
    .name {
      font-family: $font-stack;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 23px;
      color: #fff;
    }
    .col-text {
      div {
        line-height: 36px;
      }
    }
    .link-policy {
      margin-top: 30px;
      font-weight: 600;
      font-size: 16px;
      a {
        color: #0D3F38;
        text-decoration: underline;
        &:first-child {
          margin-right: 24px;
        }
      }
    }
  }
  .download {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    img {
      cursor: pointer;
    }
  }
  .license {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    background: #0D3F38;
    padding: 20px 0;
    margin-top: 60px;
  }
  .count-view{
    text-align: right;
  }
}
