#top-bar {
  height: 40px;
  background: #0D3F38;
  text-align: right;
  ul {
    list-style: none;
    li {
      display: inline-block;
      a {
        color: #fff;
        line-height: 40px;
        text-decoration: none;
        font-size: 12px;
        padding: 0 13px;
        display: block;
        &:hover {
          background: #155A50;
        }
        &.active {
          background: #155A50;
        }
      }
      .dropdown-menu{
        background: #155A50 !important;
        a{
          color: #fff !important;
          &:hover{
            background: rgb(52, 118, 111);
          }
        }
      }
      .sub-lang {
        position: absolute;
        width: 167px;
        z-index: 999;
        background: #155A50;
        padding: 0;
        display: none;
        transition: all .5s ease;
        li {
          display: block;
          text-align: left;
          &:hover a {
            background: rgb(52, 118, 111);;
          }
        }
      }
    }
  }
}

header {
  width: 100%;
  #dd-menu {
    background: #019680;
    border-bottom: 3px solid #0D3F38;
    .nav-link {
      color: #fff;
      font-style: normal;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      padding: .5rem 1.1rem;
      font-family: $font-stack;
      &:hover {
        color: #8CD9CD;
      }
      &.active {
        color: #8CD9CD;
      }
    }
    .navbar-brand {
      text-align: center;
      .logo {
        font-family: $font-stack;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: normal;
        color: #F9F9F9;
      }
    }
    .dd-search {
      color: #fff;
      margin-left: 30px;

      i {
        cursor: pointer;
      }
      .search-input-fake {
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
      }
      ::-webkit-input-placeholder {
        color: #fff;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity:  1;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #fff;
        opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
      }
    }
  }
  &#header-home-page {
    #dd-menu {
      position: absolute;
      width: 100%;
      z-index: 99;
      background: transparent;
      border: none !important;
      &.bg-opacity{
        background: #01968085;
        .nav-link.active {
          color: #83fbe8;
        }
      }
    }
  }
  .sticky {
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    background: #019680 !important;
    height: 80px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    border: none !important;
  }
  .overlay-screen-search {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999999999;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    &.open {
      display: block;
    }
    .btn-close-search {
      position: absolute;
      right: 98px;
      top: 112px;
      border: none;
      color: #fff;
      font-size: 33px;
      background: transparent;
    }
    .dd-form-search {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 1000;
      width: 100%;
      max-width: 600px;
      label {
        font-size: 24px;
        padding-left: 14px;
      }
      i {
        position: absolute;
        left: 13px;
        bottom: 36px;
        color: #393e419e;
      }
      input {
        padding: 16px 40px;
        height: 56px;
        background: #FFFFFF;
        border: 1px solid #EFEFF1;
        box-sizing: border-box;
        border-radius: 8px;
      }
    }
  }
}

#banner-360 {
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  .videoWrapper{
    iframe {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .5s ease;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(117.03deg, #019680 7.66%, #0081D9 106.47%);
    opacity: .68;
  }
  &.show-video {
    padding: 0;
    iframe {
      z-index: 1;
    }
    #content-header {
      display: none;
    }
    &:before {
      content: inherit;
      position: inherit;
    }
    .icon-scroll-down {
      z-index: 2;
    }
  }
  #content-header {
    color: #fff;
    text-align: center;
    h1 {
      font-family: $font-stack;
      font-style: normal;
      font-weight: bold !important;
      font-size: 48px;
      line-height: 56px;
    }
    button {
      i {
        margin-right: 15px;
      }
      div {
        position: relative;
        z-index: 1;
      }
      background-color: transparent;
      border: 2px solid $secondary-color;
      color: $secondary-color;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 0 24px;
      line-height: 56px;
      margin-top: 42px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $secondary-color;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      &:hover {
        color: #735C0D;
        &::before {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }
  .icon-scroll-down {
    width: 37px;
    height: 68px;
    position: absolute;
    left: 49%;
    bottom: 0;
    cursor: pointer;
    .chevron {
      position: absolute;
      width: 28px;
      height: 8px;
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
      animation: move 3s ease-out infinite;
    }

    .chevron:first-child {
      animation: move 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
      animation: move 3s ease-out 2s infinite;
    }

    .chevron:before,
    .chevron:after {
      content: ' ';
      position: absolute;
      top: 0;
      height: 100%;
      width: 51%;
      background: #fff;
    }

    .chevron:before {
      left: 0;
      transform: skew(0deg, 30deg);
    }

    .chevron:after {
      right: 0;
      width: 50%;
      transform: skew(0deg, -30deg);
    }

    @keyframes move {
      25% {
        opacity: 1;

      }
      33% {
        opacity: 1;
        transform: translateY(30px);
      }
      67% {
        opacity: 1;
        transform: translateY(40px);
      }
      100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
      }
    }
  }
}

.scrollTop i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  font-size: 14px;
  text-align: center;
  background-image: linear-gradient(55deg, #019680, #0081D9);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  bottom: 15px;
  right: 15px;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.3);
  z-index: 9;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -o-transition: all linear .3s;
  transition: all linear .3s;
}
