$primary-color: rgba(1, 150, 128, 0.85);
$secondary-color: #FEC600;
$font-stack: Montserrat, sans-serif;
$color-title: #019680;

@import url('fonts/Inter/inter.css');
@import 'reset';
@import 'header';
@import 'secondary-page';
@import 'detail';
@import 'footer';
@import "responsive";
@import "loader";

body {
  font-family: 'Inter', sans-serif !important;
}

.text-overflow {
  display: inline-block;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-family: $font-stack;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: $color-title;
}

.page-link {
  padding: 6px 15px !important;
  background: #EFEFF1 !important;
  border-radius: 16px !important;
  border: none;
  margin: 0 4px;
  color: #0B2027;
  font-size: 16px;

  &:hover {
    background: $secondary-color !important;
    color: #fff;
  }

  &.active {
    background: $secondary-color !important;
    color: #fff;
  }
}

#about {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);

  #video-intro {
    position: relative;
    z-index: 1;
  }

  .title {
    padding-bottom: 33px;
  }

  .wrap-content {
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;

    ul {
      list-style-image: url('../img/icon-list.svg');
      padding-left: 25px !important;

      li {
        line-height: 24px;
      }
    }

    .content-ellipsis {
      &.showed {
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        font-size: 16px;
        line-height: 1.4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .content-about {
    p {
      margin-bottom: 0.5rem !important;
    }

    &.show-more {
      max-height: 400px;
      overflow-y: scroll;
      padding-right: 10px;

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
      }

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #019680;
        border-radius: 10px;
        background-image: -webkit-linear-gradient(0deg,
                rgba(255, 255, 255, 0.5) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0.5) 75%,
                transparent 75%,
                transparent)
      }
    }
  }

  h4 {
    font-weight: 600;
    font-size: 20px;
    color: #0B2027;
    margin-bottom: 16px;
  }

  #read-more-about {
    font-size: 16px;
    font-weight: 600;
    color: #0D3F38;
    position: absolute;
    bottom: -5px;
  }

  .clamp-0 {
    display: none !important;
  }

  .clamp-1 {
    -webkit-line-clamp: 1;
  }

  .clamp-2 {
    -webkit-line-clamp: 2;
  }

  .clamp-3 {
    -webkit-line-clamp: 3;
  }

  .clamp-4 {
    -webkit-line-clamp: 4;
  }

  .clamp-5 {
    -webkit-line-clamp: 5;
  }

  .clamp-6 {
    -webkit-line-clamp: 6;
  }

  .clamp-7 {
    -webkit-line-clamp: 7;
  }

  .clamp-8 {
    -webkit-line-clamp: 8;
  }

  .clamp-9 {
    -webkit-line-clamp: 9;
  }
}

#profile {
  background: #C1ECE5;
  position: relative;

  .view-info {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
  }

  img {
    position: absolute;
    bottom: 0;
  }

  .bg-img {
    position: absolute;
    opacity: .4;
    top: -40%;
  }

  .title {
    color: #019680;
  }

  button {
    background-color: $secondary-color;
    border: none;
    color: #735C0D;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 24px;
    margin-top: 29px;
    transition-duration: 0.3s;

    &:hover {
      border: 1px solid $secondary-color;
      color: $secondary-color;
      background: #fff;
    }
  }

  .container-view-pdf {
    opacity: 0 !important;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    left: 0;
    top: 0;

    &.showed {
      opacity: 1 !important;
      z-index: 999;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-duration: 0.3s;
    }

    iframe {
      width: 95%;
      height: 80%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    .btn-close {
      position: absolute;
      color: #fff;
      font-size: 28px;
      right: 0;
      top: 0;
      padding: 20px;
      cursor: pointer;
    }
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#destination {
  position: relative;

  .bg-des {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100vh - 80px);

    &::after {
      content: "";
      background: url("../img/home/bg.png") no-repeat;
      background-size: cover;
      background-position: bottom;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  }

  .order-by {
    font-size: 12px;
    color: rgba(57, 62, 65, 0.5);
    margin-bottom: 15px;

    select {
      background-color: transparent;
      color: #FEC600;
      padding: 12px;
      border: none;
      font-weight: 600;
      outline: none;

      option {
        color: #0B2027;
      }

      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
    }
  }

  .des-types {
    position: relative;
    display: inline-flex;
    padding-top: 40px;
    flex-wrap: wrap;
    justify-content: center;

    .item {
      margin-bottom: 17px;

      .des-title {
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        text-transform: capitalize;
        color: #393E41;
        margin: 8px auto;
        width: 40%;
      }

      &:hover {
        .des-title {
          color: #019680;
          cursor: pointer;
        }
      }

      &.active {
        .des-icon {
          background: #C1ECE5;
          border: 2px solid #019680;
        }

        .des-title {
          color: #019680;
        }
      }

      .des-icon {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
        cursor: pointer;
        margin: 0 50px;
        color: #0B2027;
        line-height: 88px;
        text-align: center;

        &:hover {
          background: #C1ECE5;
          border: 2px solid #019680;
          color: #fff;
        }

        &:hover i {
          color: #fff;
        }

        &:hover div {
          color: #fff;
        }
      }

      i {
        color: $primary-color;
        font-size: 37px;
      }

      div {
        font-size: 12px;
      }
    }
  }

  .thumb-item {
    position: relative;
    border-radius: 8px;
    height: 240px;
    overflow: hidden;
    margin-bottom: 30px;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all .3s linear;
      background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #000000 99.94%);
      mix-blend-mode: normal;
      opacity: 0.91;
      border-radius: 8px;
    }

    img {
      transition: all .5s ease;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    .content {
      position: absolute;
      bottom: 24px;
      padding: 0 24px;
      z-index: 10;
      color: #fff;
      width: 100%;

      .name {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          font-weight: 600;
          font-size: 20px;
          color: #FFFFFF;
          transition: all .3s ease;

          &:hover {
            color: #a6f3ec;
          }
        }
      }
    }
  }

  .des-list-data {
    position: relative;
    display: none;
    padding-bottom: 40px;
  }

  #modalDes {
    .thumb-item {
      height: 210px;
    }
  }
}

#events {
  background: #C1ECE5;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  position: relative;

  .bg-img {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
    opacity: .5;
  }

  .title {
    color: #019680;
    position: relative;
    top: -40px;
  }

  .tourist-features .slick-current img {
    transition: all 300ms ease;
  }

  .tourist-features {
    .slick-current {
      .wrap-item {
        color: #e67e22;
        transform: scale(1.5);
        position: relative;
        z-index: 999;
        filter: grayscale(0);
        border-radius: 9.79775px;
        max-height: 230px;
        margin-top: 72px;
        transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #000000 99.94%);
          mix-blend-mode: normal;
          opacity: 0.91;
        }

        .content {
          display: block;
          position: absolute;
          bottom: 3px;
          z-index: 99999;
          padding: 24px 24px 0 24px;

          h3 {
            font-weight: 600;
            font-size: 12px;

            a {
              color: #FFFFFF;

              &:hover {
                color: #a6f3ec;
              }
            }
          }

          .address {
            font-size: 8px;
            color: #8CD9CD;
            margin-bottom: 5px;
          }

          p {
            color: #DEDEF7;
            font-size: 8px;
            margin-bottom: 10px;
          }

          a.link {
            display: block;
            width: 100px;
            text-align: center;
            background: $secondary-color;
            border-radius: 4px;
            border: none;
            text-transform: uppercase;
            color: #735C0D;
            font-size: 9px;
            font-weight: bold;
            padding: 0 20px;
            transition: all .5s ease;
            margin-bottom: 10px;
            line-height: 24px;

            &:hover {
              background: #fff;
              color: $secondary-color;
            }
          }
        }
      }
    }

    .wrap-item {
      margin: 60px 20px;
      position: relative;
      box-shadow: 0px 3px 5px rgba(1, 0, 91, 0.32);
      border-radius: 8px;
      overflow: hidden;
      transition: all 300ms ease;
      filter: grayscale(100%);
      max-height: 250px;

      img {
        min-height: 250px;
      }

      .content {
        display: none;
      }
    }
  }

  .thumb-item {
    position: relative;
    border-radius: 8px;
    height: 260px;
    overflow: hidden;
    margin-bottom: 30px;
    cursor: pointer;

    img {
      transition: all .5s ease;
      transform: scale(1.1);
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #155A50 99.94%);
      mix-blend-mode: normal;
      opacity: 0.91;
      border-radius: 8px;
    }

    .content {
      position: absolute;
      bottom: 24px;
      padding: 0 24px;
      z-index: 10;
      font-size: 12px;
      color: #8CD9CD;
      font-weight: bold;
      width: 100%;

      .name {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          font-weight: 600;
          font-size: 20px;
          color: #FFFFFF;

          &:hover {
            color: #a6f3ec;
          }
        }
      }

    }
  }
}

#event {
  min-height: calc(100vh - 80px);
  padding-top: 50px;
  padding-bottom: 20px;

  .months-mobile {
    display: none;
    max-width: 60%;margin: 30px auto;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../img/home/bg-event.png') no-repeat;
    background-size: cover;
    background-position: right;
    opacity: .1;
    z-index: -1;
  }

  position: relative;

  .slide-event {
    height: 380px;
    margin-top: 40px;
  }

  .thumb-item {
    position: relative;
    border-radius: 8px;
    height: 380px;
    overflow: hidden;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      transform: scale(1.02);
    }

    img {
      transition: all .5s ease;
      transform: scale(1.1);
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #000000 99.94%);
      mix-blend-mode: normal;
      opacity: 0.91;
      border-radius: 8px;
    }

    .content {
      position: absolute;
      bottom: 24px;
      padding: 0 24px;
      z-index: 10;
      font-size: 12px;
      font-weight: bold;
      width: 100%;

      .name {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          font-weight: 600;
          font-size: 20px;
          color: #FFFFFF;

          &:hover {
            color: #a6f3ec;
          }
        }
      }

    }
  }

  .months {
    padding-top: 35px;
    border-top: 1px solid #009688;
    width: 100%;
    margin-top: 60px;
    display: inline-flex;
    justify-content: space-between;

    .dot-month {
      position: relative;
      top: 25px;
      width: 10px;
      height: 10px;
      mix-blend-mode: normal;
      opacity: 0.91;
      border-radius: 8px;
      background: #0D3F38;
    }

    .item-month {
      background: #FFC107;
      border-radius: 50%;
      padding: 13px 0;
      width: 56px;
      height: 56px;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
      text-align: center;
      position: relative;
      transition: all .3s ease;
      color: rgba(57, 62, 65, 0.6);

      &:last-child {
        &::after {
          content: none;
        }
      }

      &.active, &:hover {
        background: #019680;
        color: #C1ECE5;
      }

      h5 {
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

#tour {
  padding-top: 56px;

  .tour-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
    border-radius: 8px;
    position: relative;
    margin-bottom: 30px;

    .cover {
      border-radius: 8px 8px 0px 0px;
      height: 240px;
      overflow: hidden;

      img {
        transition: all .5s ease;
        cursor: pointer;
      }

      &:hover img {
        transform: scale(1.1) rotate(3deg);
      }
    }

    .content {
      padding: 23px;
      font-weight: 600;

      h2 {
        line-height: 24px;
        margin-bottom: 10px;
        min-height: 54px;
        text-transform: capitalize;

        a {
          font-size: 16px;
          font-weight: 600;
          line-height: normal;
          color: #0B2027;

          &:hover {
            color: #020709;
          }
        }
      }

      .view {
        color: #0B2027;
        opacity: 0.6;
        font-size: 16px;
      }
    }
  }
}

#map {
  padding-top: 50px;

  #content {
    max-width: 320px !important;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
    border-radius: 8px;
    overflow: hidden;

    .cover {
      margin-bottom: 20px;
    }

    .firstHeading {
      font-weight: 600;
      font-size: 16px;
      line-height: 23px;
      color: #393E41;
      padding: 0 10px;

      a {
        color: #393E41;

        &:hover {
          color: #0c6499;
        }
      }
    }

    #bodyContent {
      padding: 10px;

      .description {
        font-size: 15px;
        line-height: 22px;
        color: rgba(57, 62, 65, 0.61);
      }

      .view {
        color: #393e41b8;
      }
    }
  }

  .categoy-map {
    padding: 50px;
    top: 65px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    background: rgba(57, 62, 65, 0.91);
    border-radius: 0px 8px 8px 0px;

    h3 {
      font-size: 26px;
      margin-bottom: 36px;
      font-weight: 600;
    }

    iframe {
      height: 100%;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        line-height: 23px;
        margin-bottom: 5px;
        font-size: 14px;

        .checkbox {
          input {
            margin-right: 16px;
          }
        }
      }
    }
  }
}

.rating {
  i {
    color: $secondary-color;
    margin-right: 8px;

    &.active {
      color: $secondary-color;
    }
  }
}

.icon-360 {
  background-image: url("../img/home/360.svg");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  width: 40px;
  height: 40px;
  z-index: 10;
  position: absolute;
  right: 24px;
  top: 23px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}
