@charset "UTF-8";
@import url("fonts/Inter/inter.css");
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  background: #f8f8f8;
}

img {
  max-width: 100% !important;
}

a:hover {
  text-decoration: none;
}

.breadcrumb {
  padding: 13px 0;
  background: transparent;
  margin-bottom: 0;
}

.breadcrumb-item {
  font-size: 12px;
  font-weight: 600;
}
.breadcrumb-item a {
  color: #828282;
}
.breadcrumb-item.active {
  color: #FEC600;
}

ul {
  padding: 0 !important;
}

.slick-next {
  right: -12px !important;
  background: #FEC600 !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.slick-prev {
  z-index: 1;
  left: -12px !important;
  background: #FEC600 !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.slick-arrow.slick-disabled {
  background: #fec60094 !important;
}

.slick-next:before {
  content: "›";
  font-size: 60px;
  line-height: inherit;
  color: #735C0D;
}

.slick-prev:before {
  content: "‹";
  font-size: 60px;
  line-height: inherit;
  color: #735C0D;
}

#top-bar {
  height: 40px;
  background: #0D3F38;
  text-align: right;
}
#top-bar ul {
  list-style: none;
}
#top-bar ul li {
  display: inline-block;
}
#top-bar ul li a {
  color: #fff;
  line-height: 40px;
  text-decoration: none;
  font-size: 12px;
  padding: 0 13px;
  display: block;
}
#top-bar ul li a:hover {
  background: #155A50;
}
#top-bar ul li a.active {
  background: #155A50;
}
#top-bar ul li .dropdown-menu {
  background: #155A50 !important;
}
#top-bar ul li .dropdown-menu a {
  color: #fff !important;
}
#top-bar ul li .dropdown-menu a:hover {
  background: #34766f;
}
#top-bar ul li .sub-lang {
  position: absolute;
  width: 167px;
  z-index: 999;
  background: #155A50;
  padding: 0;
  display: none;
  transition: all 0.5s ease;
}
#top-bar ul li .sub-lang li {
  display: block;
  text-align: left;
}
#top-bar ul li .sub-lang li:hover a {
  background: #34766f;
}

header {
  width: 100%;
}
header #dd-menu {
  background: #019680;
  border-bottom: 3px solid #0D3F38;
}
header #dd-menu .nav-link {
  color: #fff;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  padding: 0.5rem 1.1rem;
  font-family: Montserrat, sans-serif;
}
header #dd-menu .nav-link:hover {
  color: #8CD9CD;
}
header #dd-menu .nav-link.active {
  color: #8CD9CD;
}
header #dd-menu .navbar-brand {
  text-align: center;
}
header #dd-menu .navbar-brand .logo {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: normal;
  color: #F9F9F9;
}
header #dd-menu .dd-search {
  color: #fff;
  margin-left: 30px;
}
header #dd-menu .dd-search i {
  cursor: pointer;
}
header #dd-menu .dd-search .search-input-fake {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}
header #dd-menu .dd-search ::-webkit-input-placeholder {
  color: #fff;
}
header #dd-menu .dd-search :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
header #dd-menu .dd-search ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
header #dd-menu .dd-search :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
header#header-home-page #dd-menu {
  position: absolute;
  width: 100%;
  z-index: 99;
  background: transparent;
  border: none !important;
}
header#header-home-page #dd-menu.bg-opacity {
  background: #01968085;
}
header#header-home-page #dd-menu.bg-opacity .nav-link.active {
  color: #83fbe8;
}
header .sticky {
  position: fixed !important;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  background: #019680 !important;
  height: 80px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  border: none !important;
}
header .overlay-screen-search {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999999999;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}
header .overlay-screen-search.open {
  display: block;
}
header .overlay-screen-search .btn-close-search {
  position: absolute;
  right: 98px;
  top: 112px;
  border: none;
  color: #fff;
  font-size: 33px;
  background: transparent;
}
header .overlay-screen-search .dd-form-search {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1000;
  width: 100%;
  max-width: 600px;
}
header .overlay-screen-search .dd-form-search label {
  font-size: 24px;
  padding-left: 14px;
}
header .overlay-screen-search .dd-form-search i {
  position: absolute;
  left: 13px;
  bottom: 36px;
  color: #393e419e;
}
header .overlay-screen-search .dd-form-search input {
  padding: 16px 40px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #EFEFF1;
  box-sizing: border-box;
  border-radius: 8px;
}

#banner-360 {
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
#banner-360 .videoWrapper iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease;
}
#banner-360:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(117.03deg, #019680 7.66%, #0081D9 106.47%);
  opacity: 0.68;
}
#banner-360.show-video {
  padding: 0;
}
#banner-360.show-video iframe {
  z-index: 1;
}
#banner-360.show-video #content-header {
  display: none;
}
#banner-360.show-video:before {
  content: inherit;
  position: inherit;
}
#banner-360.show-video .icon-scroll-down {
  z-index: 2;
}
#banner-360 #content-header {
  color: #fff;
  text-align: center;
}
#banner-360 #content-header h1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold !important;
  font-size: 48px;
  line-height: 56px;
}
#banner-360 #content-header button {
  background-color: transparent;
  border: 2px solid #FEC600;
  color: #FEC600;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0 24px;
  line-height: 56px;
  margin-top: 42px;
  position: relative;
}
#banner-360 #content-header button i {
  margin-right: 15px;
}
#banner-360 #content-header button div {
  position: relative;
  z-index: 1;
}
#banner-360 #content-header button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FEC600;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#banner-360 #content-header button:hover {
  color: #735C0D;
}
#banner-360 #content-header button:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#banner-360 .icon-scroll-down {
  width: 37px;
  height: 68px;
  position: absolute;
  left: 49%;
  bottom: 0;
  cursor: pointer;
}
#banner-360 .icon-scroll-down .chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
#banner-360 .icon-scroll-down .chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
#banner-360 .icon-scroll-down .chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
#banner-360 .icon-scroll-down .chevron:before,
#banner-360 .icon-scroll-down .chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}
#banner-360 .icon-scroll-down .chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
#banner-360 .icon-scroll-down .chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.scrollTop i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  font-size: 14px;
  text-align: center;
  background-image: linear-gradient(55deg, #019680, #0081D9);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  bottom: 15px;
  right: 15px;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.3);
  z-index: 9;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.banner-account {
  background: linear-gradient(156.47deg, #019680 7.66%, #0081D9 106.47%);
  opacity: 0.77;
  text-align: center;
}
.banner-account .avatar {
  font-size: 62px;
  color: #fff;
  padding: 40px 0;
}
.banner-account.page-account {
  text-align: left;
}
.banner-account.page-account .avatar {
  display: flex;
  align-items: center;
}
.banner-account.page-account .avatar .thumb {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.banner-account.page-account .avatar .thumb img {
  vertical-align: inherit;
}
.banner-account.page-account .avatar .thumb:hover .upload-avatar {
  opacity: 1;
}
.banner-account.page-account .avatar .thumb .upload-avatar {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  font-size: 10px;
  text-align: center;
  box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.06);
  background: #393e41bd;
  height: 100%;
  padding: 14px 11px;
  cursor: pointer;
}
.banner-account.page-account .avatar .thumb .upload-avatar p {
  margin-top: 5px;
}
.banner-account.page-account .user-name {
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 16px;
}

.page-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #019680;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.secondary-page {
  padding: 56px 0;
}
.secondary-page .dd-form {
  text-align: left;
}
.secondary-page .dd-form label {
  font-weight: 600;
  font-size: 12px;
  color: #828282;
  margin-left: 15px;
}
.secondary-page .dd-form input {
  border: 1px solid #EFEFF1;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
}
.secondary-page .dd-form input:focus {
  border: 1px solid #019680;
  box-shadow: none;
}
.secondary-page .dd-form input:active {
  border: 1px solid #019680;
  box-shadow: none;
}
.secondary-page .dd-form .text {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #393E41;
  opacity: 0.6;
  margin-top: 40px;
}
.secondary-page .dd-form .forgot-pass {
  font-size: 16px;
  color: #019680;
  text-decoration-line: underline;
}
.secondary-page .dd-form .have-account {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-top: 24px;
}
.secondary-page .dd-form .have-account a {
  text-decoration-line: underline;
  color: #019680;
}

#page-confirm .content {
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}
#page-confirm .content ul {
  list-style: none;
}
#page-confirm .content ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 34px;
}
#page-confirm .content ul li:before {
  content: "";
  position: absolute;
  background: url(../img/icon-arrow-right.svg) no-repeat;
  width: 29px;
  height: 30px;
  left: 0;
  top: 9px;
}

.dd-btn {
  background: #019680;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 12px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  width: 100%;
  border: none;
  color: #FFFFFF;
  line-height: 50px;
  padding: 0;
  transition: all 0.3s linear;
}
.dd-btn:hover {
  background: #0b5147;
}

#page-account .sub-title {
  font-weight: 600;
  font-size: 24px;
  color: #393E41;
}
#page-account .change-password {
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #019680;
}
#page-account p {
  font-size: 16px;
  line-height: 22px;
  color: #393E41;
  opacity: 0.6;
}
#page-account .dd-btn {
  padding: 0 90px;
  width: auto;
}
#page-account .dd-section-item {
  padding: 30px 0;
  border-bottom: 1px solid #EFEFF1;
}
#page-account .dd-section-item:last-child {
  border: none;
}
#page-account .reaction-list .reaction-item {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  border-radius: 8px;
  margin-bottom: 8px;
  width: 100%;
  padding: 16px;
  align-items: center;
  color: inherit;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
#page-account .reaction-list .reaction-item .thumb {
  border-radius: 8px;
  overflow: hidden;
  max-width: 120px;
  margin-right: 15px;
  justify-content: flex-start;
}
#page-account .reaction-list .reaction-item .name {
  text-align: left;
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#page-account .reaction-list .reaction-item .name h3 {
  font-weight: 600;
  font-size: 21px;
}
#page-account .reaction-list .reaction-item .name h3 a {
  color: #393E41;
}
#page-account .reaction-list .reaction-item .name p {
  font-size: 16px;
  line-height: 22px;
  color: rgba(57, 62, 65, 0.6);
}
#page-account .reaction-list .reaction-item .icon-action {
  justify-content: flex-end;
  text-align: right;
}
#page-account .reaction-list .reaction-item .icon-action img {
  width: 50%;
}

#page-result .page-title {
  font-weight: 600;
  font-size: 24px;
  text-transform: inherit;
  color: #393E41;
  margin-bottom: 16px;
}
#page-result .search-text {
  font-size: 24px;
  color: rgba(57, 62, 65, 0.61);
  text-align: center;
}
#page-result .list-result {
  margin-top: 30px;
}
#page-result .list-result .result-item {
  display: flex;
  background: #FFFFFF;
  margin-bottom: 8px;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  border-radius: 8px;
  padding: 16px;
}
#page-result .list-result .thumb {
  box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  overflow: hidden;
  margin-right: 16px;
  max-width: 120px;
  max-height: 78px;
}
#page-result .list-result .content {
  flex: 3;
}
#page-result .list-result .content h2 {
  font-weight: 600;
  font-size: 20px;
}
#page-result .list-result .content h2 a {
  color: #393E41;
}
#page-result .list-result .content p {
  font-size: 14px;
  line-height: 22px;
  color: rgba(57, 62, 65, 0.61);
}

#page-detail {
  padding-bottom: 50px;
}
#page-detail .video-360 {
  height: calc(100vh - 126px);
}
#page-detail .video-360 iframe {
  height: 100%;
}
#page-detail .video-360 img {
  height: 100%;
}
#page-detail .wrapper {
  padding-top: 56px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(57, 62, 65, 0.71);
}
#page-detail .wrapper .modal-review {
  background: #FFFFFF;
  padding: 24px;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  border-radius: 8px;
  width: 320px;
  left: 11px;
  position: absolute;
  display: none;
}
#page-detail .wrapper .modal-review h3 {
  font-weight: 600;
  text-align: left;
  font-size: 16px;
  line-height: 23px;
  color: #393E41;
}
#page-detail .wrapper .modal-review .rating {
  text-align: center;
}
#page-detail .wrapper .modal-review .rating p {
  text-align: left;
}
#page-detail .wrapper .post-content {
  text-align: justify;
}
#page-detail .wrapper .post-decription {
  text-align: justify;
}
#page-detail .wrapper .title-section {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #393E41;
}
#page-detail .wrapper .name {
  font-weight: 600;
  font-size: 24px;
  color: #019680;
  margin-bottom: 10px;
}
#page-detail .wrapper .post-statistic {
  margin-bottom: 40px;
}
#page-detail .wrapper .post-videos {
  margin: 22px 0;
  background: #EFEFF1;
  /* Light Shadow */
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  border-radius: 0px 0px 8px 8px;
}
#page-detail .wrapper .post-videos .slider-nav .item {
  padding: 20px;
  cursor: pointer;
  position: relative;
}
#page-detail .wrapper .post-videos .slider-nav .item .icon-360 {
  right: 30px;
  top: 30px;
}
#page-detail .wrapper .post-videos .slider-nav .item img {
  width: 100%;
}
#page-detail .wrapper .post-videos .slider-nav .item .name {
  font-weight: 600;
  font-size: 14px;
  color: rgba(57, 62, 65, 0.61);
  padding-top: 12px;
}
#page-detail .wrapper .post-videos .slider-nav .item.active .thumb {
  position: relative;
}
#page-detail .wrapper .post-videos .slider-nav .item.active .thumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #00698c 0%, #06a991 99.94%);
  overflow: hidden;
  border-radius: 8px;
  opacity: 0.6;
}
#page-detail .wrapper .post-videos .slider-nav .slick-slide.slick-current .thumb {
  position: relative;
}
#page-detail .wrapper .post-videos .slider-nav .slick-slide.slick-current .thumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #00698c 0%, #06a991 99.94%);
  overflow: hidden;
  border-radius: 8px;
  opacity: 0.6;
}
#page-detail .wrapper .post-videos .dd-slick-prev, #page-detail .wrapper .post-videos .dd-slick-next {
  cursor: pointer;
}
#page-detail .wrapper .post-videos .dd-slick-prev img {
  transform: rotate(180deg);
}
#page-detail .wrapper #btn-nav {
  justify-content: flex-end;
  display: flex;
}
#page-detail .wrapper .post-info {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 32px;
}
#page-detail .wrapper .post-info .like-share {
  padding: 12px 24px;
  background: #EFEFF1;
}
#page-detail .wrapper .post-info .like-share button {
  background: #1F73F0;
  border-radius: 6.4px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  padding: 0 16px;
  line-height: 32px;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
#page-detail .wrapper .post-info .like-share button:hover {
  background: rgba(31, 115, 240, 0.5);
}
#page-detail .wrapper .post-info .info {
  padding: 32px 24px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(57, 62, 65, 0.6);
}
#page-detail .wrapper .post-info .info div {
  padding: 12px 0;
}
#page-detail .wrapper .post-info .info div i {
  color: #019680;
  margin-right: 6px;
  font-size: 20px;
}
#page-detail .wrapper .post-other {
  background: #FFFFFF;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  border-radius: 8px;
  transition: all 0.5s ease;
}
#page-detail .wrapper .post-other .box-title {
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  text-transform: uppercase;
  background: #EFEFF1;
  color: #393E41;
  padding: 15px 24px;
}
#page-detail .wrapper .post-other .list-post {
  padding: 15px 24px;
}
#page-detail .wrapper .post-other .list-post .post-item {
  margin-bottom: 30px;
  display: inline-flex;
  width: 100%;
}
#page-detail .wrapper .post-other .list-post .post-item .item-thumb {
  width: 80px;
  overflow: hidden;
  box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-right: 16px;
  max-height: 60px;
}
#page-detail .wrapper .post-other .list-post .post-item .item-thumb img {
  min-height: 58px;
}
#page-detail .wrapper .post-other .list-post .post-item .item-content {
  color: #393E41;
  flex: 3;
}
#page-detail .wrapper .post-other .list-post .post-item .item-content a {
  font-size: 16px;
  font-weight: 600;
  color: #019680;
}
#page-detail .wrapper .post-other .list-post .post-item .item-content a:hover {
  color: #00483d;
}
#page-detail .wrapper .post-other .list-post .post-item .item-content i {
  color: #828282;
}
#page-detail .wrapper .map {
  margin-top: 30px;
}
#page-detail .wrapper .weather {
  padding: 60px 0;
}
#page-detail .wrapper .weather .today {
  display: flex;
  text-align: center;
  padding: 28px;
  align-items: center;
}
#page-detail .wrapper .weather .today h2 {
  width: 300px;
  margin-bottom: 0;
}
#page-detail .wrapper .weather .today .content {
  width: 200px;
  margin-left: 20px;
}
#page-detail .wrapper .weather .today h3 {
  font-weight: bold;
  font-size: 30.2727px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: rgba(57, 62, 65, 0.8);
  margin: 0;
}
#page-detail .wrapper .weather .today p {
  font-size: 16px;
  color: rgba(57, 62, 65, 0.61);
}
#page-detail .wrapper .weather .day {
  background: #FFFFFF;
  padding: 28px;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  border-radius: 8px;
}
#page-detail .wrapper .weather .day h4 {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
#page-detail .wrapper .weather .day .temperature {
  font-weight: 600;
  font-size: 16px;
  color: rgba(33, 150, 83, 0.8);
  margin-top: 14px;
}
#page-detail .wrapper .weather .day .temperature span:first-child {
  color: rgba(235, 87, 87, 0.81);
  margin-right: 50px;
}
#page-detail .wrapper .booking-now {
  margin-top: 20px;
  background: #FEC600;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: #735C0D;
  border: none;
  padding: 16px 50px;
  -webkit-transform: all 0.5s ease;
  -moz-transform: all 0.5s ease;
  -ms-transform: all 0.5s ease;
  -o-transform: all 0.5s ease;
  transform: all 0.5s ease;
}
#page-detail .wrapper .booking-now:hover {
  background: #ffd850;
}
#page-detail .wrapper .dd-post-other {
  padding-top: 20px;
}
#page-detail .wrapper .dd-post-other .title {
  text-align: left;
  font-size: 20px;
  padding: 10px 0;
}

.thumb-item {
  position: relative;
  border-radius: 8px;
  height: 240px;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;
}
.thumb-item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s linear;
  background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #000000 99.94%);
  mix-blend-mode: normal;
  opacity: 0.91;
  border-radius: 8px;
}
.thumb-item img {
  transition: all 0.5s ease;
}
.thumb-item:hover img {
  transform: scale(1.1);
}
.thumb-item .content {
  position: absolute;
  bottom: 24px;
  padding: 0 24px;
  z-index: 10;
  color: #fff;
  width: 100%;
}
.thumb-item .content .name {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.thumb-item .content .name a {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  transition: all 0.3s ease;
}
.thumb-item .content .name a:hover {
  color: #a6f3ec;
}

.float-btn.fixed {
  position: fixed;
  top: 115px;
  left: 64px;
  z-index: 99;
}

.btn-action {
  background: #E0E0E0;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
}
.btn-action.add-fav {
  left: -40px;
}
.btn-action.remove-fav {
  left: -40px;
  background: #C1ECE5;
}
.btn-action.remove-like {
  background: #C1ECE5;
  left: -40px;
  top: 48px;
}
.btn-action.add-like {
  left: -40px;
  top: 48px;
}

footer {
  background: #019680 url("../img/bg-footer.png") no-repeat;
  background-position: right;
  padding-top: 56px;
}
footer #logo {
  text-align: center;
}
footer #logo .text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: normal;
  color: #F9F9F9;
}
footer .about {
  color: #8CD9CD;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
}
footer .about .name {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 23px;
  color: #fff;
}
footer .about .col-text div {
  line-height: 36px;
}
footer .about .link-policy {
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
}
footer .about .link-policy a {
  color: #0D3F38;
  text-decoration: underline;
}
footer .about .link-policy a:first-child {
  margin-right: 24px;
}
footer .download {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}
footer .download img {
  cursor: pointer;
}
footer .license {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  background: #0D3F38;
  padding: 20px 0;
  margin-top: 60px;
}
footer .count-view {
  text-align: right;
}

@media only screen and (min-width: 1000px) {
  .container-fluid {
    padding-right: 85px !important;
    padding-left: 85px !important;
  }
}
@media only screen and (min-width: 1600px) {
  #events .tourist-features .slick-center .wrap-item {
    max-height: 260px !important;
  }

  #events .tourist-features .wrap-item {
    max-height: 280px !important;
  }

  #event .slide-event {
    margin-top: 80px !important;
  }
  #event .months {
    margin-top: 130px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
  .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-sm-5 {
    flex: initial !important;
    max-width: inherit !important;
  }

  .col-sm-6 {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .container-fluid {
    padding-right: 60px !important;
    padding-left: 60px !important;
  }
}
@media only screen and (max-width: 1590px) {
  .dd-search .search-input-fake {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .post-other {
    margin-top: 20px;
  }

  .bg-img {
    display: none;
  }

  .slick-next {
    right: 0 !important;
  }

  .slick-prev {
    left: 0 !important;
  }

  header .overlay-screen-search .btn-close-search {
    right: 20px !important;
    top: 65px !important;
  }
  header .overlay-screen-search .dd-form-search {
    padding: 0 10px !important;
  }
  header .overlay-screen-search .dd-form-search .form-group {
    text-align: center;
  }
  header .overlay-screen-search .dd-form-search .form-group label {
    font-size: 22px !important;
    margin-bottom: 20px;
  }
  header .overlay-screen-search .dd-form-search .form-group i {
    left: 22px !important;
  }
  header #dd-menu .navbar-brand {
    max-width: 135px;
  }
  header .sticky {
    height: auto !important;
  }
  header .topbar-mobile {
    line-height: 40px;
    color: #fff;
    font-size: 12px;
  }
  header .topbar-mobile .sub-lang {
    display: none;
    background: #1d4e47;
    width: 103px;
    position: absolute;
    right: 0;
    z-index: 999;
    text-align: left;
  }
  header .topbar-mobile .sub-lang li {
    width: 100%;
  }

  .navbar {
    position: inherit !important;
  }

  .navbar-light .navbar-toggler-icon {
    filter: brightness(0) invert(1) !important;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-light .navbar-toggler {
    border: none !important;
  }

  .navbar-nav {
    width: 100%;
    background: #0D3F38;
    left: 0;
    top: 72px;
    padding: 15px 10px !important;
  }

  #banner-360 {
    height: calc(100vh - 100px) !important;
  }
  #banner-360 .icon-scroll-down {
    bottom: 10px !important;
  }
  #banner-360 #content-header {
    padding: 50px 0 !important;
  }
  #banner-360 #content-header h1 {
    font-size: 24px !important;
  }

  #about {
    padding: 35px 0 !important;
    height: auto !important;
  }
  #about .title {
    font-size: 21px;
  }
  #about h4 {
    margin-top: 25px;
  }
  #about .content-about {
    max-height: initial !important;
    margin-bottom: 20px;
  }
  #about .content-about.show-more {
    overflow-y: hidden !important;
    padding-right: 0 !important;
    max-height: initial !important;
  }

  #destination .bg-des {
    height: auto !important;
    padding: 50px 0;
  }

  #profile {
    height: auto !important;
  }
  #profile .title {
    font-size: 21px;
    margin-top: 30px !important;
  }
  #profile button {
    padding: 10px 24px;
    font-size: 14px;
  }

  #events {
    height: auto !important;
    padding: 60px 0;
  }
  #events .title {
    top: -15px !important;
  }

  .banner-account .avatar {
    padding: 20px 0;
  }

  #page-account .dd-btn {
    line-height: 40px;
    width: 100%;
  }

  #page-account .reaction-list .reaction-item .name h3 {
    font-size: 16px;
  }

  #page-account .icon-action svg {
    height: 30px;
  }

  footer {
    padding-top: 33px;
    background: #019680;
  }
  footer .download {
    margin-top: 30px;
  }
  footer .about {
    margin-top: 30px;
  }
  footer .license {
    margin-top: 40px;
  }

  #tour .tour-item .content h2 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }

  #tour .tour-item {
    margin-bottom: 20px;
  }

  #tour .tour-item .cover {
    height: 200px !important;
  }

  header #dd-menu .overlay-screen-search .dd-form-search {
    width: 94%;
  }

  header #dd-menu .overlay-screen-search .btn-close-search {
    right: 11px;
    top: 130px;
  }

  header #dd-menu .dd-search {
    display: none;
  }

  #destination {
    padding-bottom: 0 !important;
  }

  #events .months {
    display: none !important;
  }

  .tourist-features .wrap-item {
    margin: 0 10px !important;
    position: relative;
    box-shadow: 0px 3px 5px rgba(1, 0, 91, 0.32);
    border-radius: 8px;
    overflow: hidden;
    filter: none !important;
    color: #e67e22;
    transform: none !important;
    z-index: 999;
    max-height: 250px !important;
  }
  .tourist-features .wrap-item:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #000000 99.94%);
    mix-blend-mode: normal;
    opacity: 0.91;
  }
  .tourist-features .wrap-item .content {
    display: block !important;
    position: absolute;
    bottom: 13px !important;
    z-index: 99999;
    padding: 24px 24px 0 30px !important;
  }
  .tourist-features .wrap-item .content h3 {
    font-weight: 600;
    font-size: 16px !important;
  }
  .tourist-features .wrap-item .content h3 a {
    color: #FFFFFF;
  }
  .tourist-features .wrap-item .content .address {
    font-size: 11px !important;
    color: #8CD9CD;
    margin-bottom: 5px;
  }
  .tourist-features .wrap-item .content p {
    color: #DEDEF7;
    font-size: 11px !important;
    margin-bottom: 10px;
  }
  .tourist-features .wrap-item .content button {
    display: none !important;
  }

  #map .btn-show {
    transition: all 1s ease;
    left: 0;
    z-index: 99;
    position: absolute;
    top: 92px;
    background: #4a4f52;
    border: navajowhite;
    color: #ffffff;
    font-size: 20px;
    padding: 0 13px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  #map .btn-show:focus {
    outline: none;
  }
  #map .categoy-map {
    padding: 34px !important;
  }
  #map .categoy-map h3 {
    font-size: 20px !important;
    margin-bottom: 26px !important;
    margin-left: 10px;
  }
  #map .categoy-map ul li {
    font-size: 12px !important;
  }

  #map .info-pointer {
    display: none !important;
  }

  #destination .des-types .item {
    max-width: 33%;
    padding: 0 20px;
  }
  #destination .des-types .item .des-icon {
    margin: 0 auto !important;
  }
  #destination .des-types .item .des-title {
    width: 90px !important;
  }

  #event {
    min-height: auto !important;
    padding: 50px 0 !important;
  }
  #event .slide-event {
    height: auto !important;
  }
  #event .thumb-item {
    height: 240px !important;
  }
  #event .months {
    display: none !important;
  }
  #event .months-mobile {
    display: block !important;
  }

  #profile .view-info {
    height: 250px !important;
  }

  .slick-prev, .slick-next {
    width: 40px !important;
    height: 40px !important;
  }

  .page-title {
    font-size: 24px !important;
  }

  .dd-btn {
    line-height: 44px !important;
    font-size: 16px !important;
  }

  .rating i {
    margin-right: 2px !important;
  }

  footer .license {
    font-weight: 400 !important;
  }
  footer .count-view {
    text-align: left !important;
    margin-top: 10px;
    font-weight: bold;
  }

  #page-detail .booking-now {
    width: 100%;
  }
  #page-detail .float-btn.fixed {
    left: 54px !important;
    z-index: 99;
    top: 70% !important;
  }

  #page-detail .wrapper {
    padding-top: 20px;
  }

  #page-detail .wrapper .post-statistic {
    margin-bottom: 20px !important;
    font-size: 12px;
  }

  #page-detail .sdk-facebook button {
    background: #1F73F0;
    border-radius: 6.4px;
    font-weight: 600;
    font-size: 11px;
    border: none;
    padding: 0 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition: all 0.5s ease;
  }

  #page-detail .wrapper .post-videos .slider-nav {
    padding: 10px !important;
  }

  #page-detail .wrapper .post-videos .slider-nav .slick-slide {
    padding: 5px !important;
  }

  #page-detail .wrapper .post-videos .slider-nav .slick-slide.slick-current .thumb::before {
    max-width: 100% !important;
  }

  #page-detail .video-360 {
    height: auto !important;
  }

  #page-detail .video-360 iframe {
    height: 50vh !important;
  }

  #page-detail .thumb-item {
    height: 200px !important;
  }

  #page-detail .wrapper .post-videos .slider-nav .item .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
  }

  #page-detail .wrapper .post-videos .slider-nav .item .icon-360 {
    right: 10px !important;
    top: 10px !important;
  }

  #page-detail .icon-360 {
    width: 30px !important;
    height: 30px !important;
  }
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(18, 35, 53, 0.96);
  z-index: 99999;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle .sk-child:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
body {
  font-family: "Inter", sans-serif !important;
}

.text-overflow {
  display: inline-block;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #019680;
}

.page-link {
  padding: 6px 15px !important;
  background: #EFEFF1 !important;
  border-radius: 16px !important;
  border: none;
  margin: 0 4px;
  color: #0B2027;
  font-size: 16px;
}
.page-link:hover {
  background: #FEC600 !important;
  color: #fff;
}
.page-link.active {
  background: #FEC600 !important;
  color: #fff;
}

#about {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
}
#about #video-intro {
  position: relative;
  z-index: 1;
}
#about .title {
  padding-bottom: 33px;
}
#about .wrap-content {
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
  text-align: justify;
}
#about .wrap-content ul {
  list-style-image: url("../img/icon-list.svg");
  padding-left: 25px !important;
}
#about .wrap-content ul li {
  line-height: 24px;
}
#about .wrap-content .content-ellipsis.showed {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  font-size: 16px;
  line-height: 1.4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#about .content-about p {
  margin-bottom: 0.5rem !important;
}
#about .content-about.show-more {
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 10px;
}
#about .content-about.show-more::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}
#about .content-about.show-more::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
#about .content-about.show-more::-webkit-scrollbar-thumb {
  background-color: #019680;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
}
#about h4 {
  font-weight: 600;
  font-size: 20px;
  color: #0B2027;
  margin-bottom: 16px;
}
#about #read-more-about {
  font-size: 16px;
  font-weight: 600;
  color: #0D3F38;
  position: absolute;
  bottom: -5px;
}
#about .clamp-0 {
  display: none !important;
}
#about .clamp-1 {
  -webkit-line-clamp: 1;
}
#about .clamp-2 {
  -webkit-line-clamp: 2;
}
#about .clamp-3 {
  -webkit-line-clamp: 3;
}
#about .clamp-4 {
  -webkit-line-clamp: 4;
}
#about .clamp-5 {
  -webkit-line-clamp: 5;
}
#about .clamp-6 {
  -webkit-line-clamp: 6;
}
#about .clamp-7 {
  -webkit-line-clamp: 7;
}
#about .clamp-8 {
  -webkit-line-clamp: 8;
}
#about .clamp-9 {
  -webkit-line-clamp: 9;
}

#profile {
  background: #C1ECE5;
  position: relative;
}
#profile .view-info {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}
#profile img {
  position: absolute;
  bottom: 0;
}
#profile .bg-img {
  position: absolute;
  opacity: 0.4;
  top: -40%;
}
#profile .title {
  color: #019680;
}
#profile button {
  background-color: #FEC600;
  border: none;
  color: #735C0D;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 24px;
  margin-top: 29px;
  transition-duration: 0.3s;
}
#profile button:hover {
  border: 1px solid #FEC600;
  color: #FEC600;
  background: #fff;
}
#profile .container-view-pdf {
  opacity: 0 !important;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  left: 0;
  top: 0;
}
#profile .container-view-pdf.showed {
  opacity: 1 !important;
  z-index: 999;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.3s;
}
#profile .container-view-pdf iframe {
  width: 95%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#profile .container-view-pdf .btn-close {
  position: absolute;
  color: #fff;
  font-size: 28px;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#destination {
  position: relative;
}
#destination .bg-des {
  position: relative;
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
}
#destination .bg-des::after {
  content: "";
  background: url("../img/home/bg.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
#destination .order-by {
  font-size: 12px;
  color: rgba(57, 62, 65, 0.5);
  margin-bottom: 15px;
}
#destination .order-by select {
  background-color: transparent;
  color: #FEC600;
  padding: 12px;
  border: none;
  font-weight: 600;
  outline: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}
#destination .order-by select option {
  color: #0B2027;
}
#destination .des-types {
  position: relative;
  display: inline-flex;
  padding-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
#destination .des-types .item {
  margin-bottom: 17px;
}
#destination .des-types .item .des-title {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
  color: #393E41;
  margin: 8px auto;
  width: 40%;
}
#destination .des-types .item:hover .des-title {
  color: #019680;
  cursor: pointer;
}
#destination .des-types .item.active .des-icon {
  background: #C1ECE5;
  border: 2px solid #019680;
}
#destination .des-types .item.active .des-title {
  color: #019680;
}
#destination .des-types .item .des-icon {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  cursor: pointer;
  margin: 0 50px;
  color: #0B2027;
  line-height: 88px;
  text-align: center;
}
#destination .des-types .item .des-icon:hover {
  background: #C1ECE5;
  border: 2px solid #019680;
  color: #fff;
}
#destination .des-types .item .des-icon:hover i {
  color: #fff;
}
#destination .des-types .item .des-icon:hover div {
  color: #fff;
}
#destination .des-types .item i {
  color: rgba(1, 150, 128, 0.85);
  font-size: 37px;
}
#destination .des-types .item div {
  font-size: 12px;
}
#destination .thumb-item {
  position: relative;
  border-radius: 8px;
  height: 240px;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;
}
#destination .thumb-item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s linear;
  background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #000000 99.94%);
  mix-blend-mode: normal;
  opacity: 0.91;
  border-radius: 8px;
}
#destination .thumb-item img {
  transition: all 0.5s ease;
}
#destination .thumb-item:hover img {
  transform: scale(1.1);
}
#destination .thumb-item .content {
  position: absolute;
  bottom: 24px;
  padding: 0 24px;
  z-index: 10;
  color: #fff;
  width: 100%;
}
#destination .thumb-item .content .name {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
#destination .thumb-item .content .name a {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  transition: all 0.3s ease;
}
#destination .thumb-item .content .name a:hover {
  color: #a6f3ec;
}
#destination .des-list-data {
  position: relative;
  display: none;
  padding-bottom: 40px;
}
#destination #modalDes .thumb-item {
  height: 210px;
}

#events {
  background: #C1ECE5;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  position: relative;
}
#events .bg-img {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  opacity: 0.5;
}
#events .title {
  color: #019680;
  position: relative;
  top: -40px;
}
#events .tourist-features .slick-current img {
  transition: all 300ms ease;
}
#events .tourist-features .slick-current .wrap-item {
  color: #e67e22;
  transform: scale(1.5);
  position: relative;
  z-index: 999;
  filter: grayscale(0);
  border-radius: 9.79775px;
  max-height: 230px;
  margin-top: 72px;
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}
#events .tourist-features .slick-current .wrap-item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #000000 99.94%);
  mix-blend-mode: normal;
  opacity: 0.91;
}
#events .tourist-features .slick-current .wrap-item .content {
  display: block;
  position: absolute;
  bottom: 3px;
  z-index: 99999;
  padding: 24px 24px 0 24px;
}
#events .tourist-features .slick-current .wrap-item .content h3 {
  font-weight: 600;
  font-size: 12px;
}
#events .tourist-features .slick-current .wrap-item .content h3 a {
  color: #FFFFFF;
}
#events .tourist-features .slick-current .wrap-item .content h3 a:hover {
  color: #a6f3ec;
}
#events .tourist-features .slick-current .wrap-item .content .address {
  font-size: 8px;
  color: #8CD9CD;
  margin-bottom: 5px;
}
#events .tourist-features .slick-current .wrap-item .content p {
  color: #DEDEF7;
  font-size: 8px;
  margin-bottom: 10px;
}
#events .tourist-features .slick-current .wrap-item .content a.link {
  display: block;
  width: 100px;
  text-align: center;
  background: #FEC600;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  color: #735C0D;
  font-size: 9px;
  font-weight: bold;
  padding: 0 20px;
  transition: all 0.5s ease;
  margin-bottom: 10px;
  line-height: 24px;
}
#events .tourist-features .slick-current .wrap-item .content a.link:hover {
  background: #fff;
  color: #FEC600;
}
#events .tourist-features .wrap-item {
  margin: 60px 20px;
  position: relative;
  box-shadow: 0px 3px 5px rgba(1, 0, 91, 0.32);
  border-radius: 8px;
  overflow: hidden;
  transition: all 300ms ease;
  filter: grayscale(100%);
  max-height: 250px;
}
#events .tourist-features .wrap-item img {
  min-height: 250px;
}
#events .tourist-features .wrap-item .content {
  display: none;
}
#events .thumb-item {
  position: relative;
  border-radius: 8px;
  height: 260px;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;
}
#events .thumb-item img {
  transition: all 0.5s ease;
  transform: scale(1.1);
}
#events .thumb-item:hover img {
  transform: scale(1.2);
}
#events .thumb-item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #155A50 99.94%);
  mix-blend-mode: normal;
  opacity: 0.91;
  border-radius: 8px;
}
#events .thumb-item .content {
  position: absolute;
  bottom: 24px;
  padding: 0 24px;
  z-index: 10;
  font-size: 12px;
  color: #8CD9CD;
  font-weight: bold;
  width: 100%;
}
#events .thumb-item .content .name {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
#events .thumb-item .content .name a {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}
#events .thumb-item .content .name a:hover {
  color: #a6f3ec;
}

#event {
  min-height: calc(100vh - 80px);
  padding-top: 50px;
  padding-bottom: 20px;
  position: relative;
}
#event .months-mobile {
  display: none;
  max-width: 60%;
  margin: 30px auto;
}
#event:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/home/bg-event.png") no-repeat;
  background-size: cover;
  background-position: right;
  opacity: 0.1;
  z-index: -1;
}
#event .slide-event {
  height: 380px;
  margin-top: 40px;
}
#event .thumb-item {
  position: relative;
  border-radius: 8px;
  height: 380px;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}
#event .thumb-item:hover {
  transform: scale(1.02);
}
#event .thumb-item img {
  transition: all 0.5s ease;
  transform: scale(1.1);
}
#event .thumb-item:hover img {
  transform: scale(1.2);
}
#event .thumb-item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #000000 99.94%);
  mix-blend-mode: normal;
  opacity: 0.91;
  border-radius: 8px;
}
#event .thumb-item .content {
  position: absolute;
  bottom: 24px;
  padding: 0 24px;
  z-index: 10;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
}
#event .thumb-item .content .name {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
#event .thumb-item .content .name a {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}
#event .thumb-item .content .name a:hover {
  color: #a6f3ec;
}
#event .months {
  padding-top: 35px;
  border-top: 1px solid #009688;
  width: 100%;
  margin-top: 60px;
  display: inline-flex;
  justify-content: space-between;
}
#event .months .dot-month {
  position: relative;
  top: 25px;
  width: 10px;
  height: 10px;
  mix-blend-mode: normal;
  opacity: 0.91;
  border-radius: 8px;
  background: #0D3F38;
}
#event .months .item-month {
  background: #FFC107;
  border-radius: 50%;
  padding: 13px 0;
  width: 56px;
  height: 56px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
  color: rgba(57, 62, 65, 0.6);
}
#event .months .item-month:last-child::after {
  content: none;
}
#event .months .item-month.active, #event .months .item-month:hover {
  background: #019680;
  color: #C1ECE5;
}
#event .months .item-month h5 {
  font-weight: 600;
  font-size: 16px;
}

#tour {
  padding-top: 56px;
}
#tour .tour-item {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  border-radius: 8px;
  position: relative;
  margin-bottom: 30px;
}
#tour .tour-item .cover {
  border-radius: 8px 8px 0px 0px;
  height: 240px;
  overflow: hidden;
}
#tour .tour-item .cover img {
  transition: all 0.5s ease;
  cursor: pointer;
}
#tour .tour-item .cover:hover img {
  transform: scale(1.1) rotate(3deg);
}
#tour .tour-item .content {
  padding: 23px;
  font-weight: 600;
}
#tour .tour-item .content h2 {
  line-height: 24px;
  margin-bottom: 10px;
  min-height: 54px;
  text-transform: capitalize;
}
#tour .tour-item .content h2 a {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #0B2027;
}
#tour .tour-item .content h2 a:hover {
  color: #020709;
}
#tour .tour-item .content .view {
  color: #0B2027;
  opacity: 0.6;
  font-size: 16px;
}

#map {
  padding-top: 50px;
}
#map #content {
  max-width: 320px !important;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  border-radius: 8px;
  overflow: hidden;
}
#map #content .cover {
  margin-bottom: 20px;
}
#map #content .firstHeading {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #393E41;
  padding: 0 10px;
}
#map #content .firstHeading a {
  color: #393E41;
}
#map #content .firstHeading a:hover {
  color: #0c6499;
}
#map #content #bodyContent {
  padding: 10px;
}
#map #content #bodyContent .description {
  font-size: 15px;
  line-height: 22px;
  color: rgba(57, 62, 65, 0.61);
}
#map #content #bodyContent .view {
  color: #393e41b8;
}
#map .categoy-map {
  padding: 50px;
  top: 65px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  background: rgba(57, 62, 65, 0.91);
  border-radius: 0px 8px 8px 0px;
}
#map .categoy-map h3 {
  font-size: 26px;
  margin-bottom: 36px;
  font-weight: 600;
}
#map .categoy-map iframe {
  height: 100%;
}
#map .categoy-map ul {
  list-style: none;
  padding: 0;
}
#map .categoy-map ul li {
  line-height: 23px;
  margin-bottom: 5px;
  font-size: 14px;
}
#map .categoy-map ul li .checkbox input {
  margin-right: 16px;
}

.rating i {
  color: #FEC600;
  margin-right: 8px;
}
.rating i.active {
  color: #FEC600;
}

.icon-360 {
  background-image: url("../img/home/360.svg");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  width: 40px;
  height: 40px;
  z-index: 10;
  position: absolute;
  right: 24px;
  top: 23px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

/*# sourceMappingURL=main.css.map */
