* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

body {
  background: #f8f8f8;
}

img {
  max-width: 100% !important;
}

a:hover {
  text-decoration: none;
}

.breadcrumb {
  padding: 13px 0;
  background: transparent;
  margin-bottom: 0;
}

.breadcrumb-item {
  font-size: 12px;
  font-weight: 600;
  a {
    color: #828282;
  }
  &.active {
    color: $secondary-color;
  }
}

ul {
  padding: 0 !important;
}

.slick-next {
  right: -12px !important;
  background: #FEC600 !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.slick-prev {
  z-index: 1;
  left: -12px !important;
  background: #FEC600 !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.slick-arrow.slick-disabled {
  background: #fec60094 !important;
}

.slick-next:before {
  content: '›';
  font-size: 60px;
  line-height: inherit;
  color: #735C0D;
}

.slick-prev:before {
  content: '‹';
  font-size: 60px;
  line-height: inherit;
  color: #735C0D;
}