@media only screen and (min-width: 600px) {
  .container-fluid {
    padding-right: 85px !important;
    padding-left: 85px !important; } }
@media only screen and (min-width: 1600px) {
  #events .tourist-features .slick-center .wrap-item {
    max-height: 260px !important; }

  #events .tourist-features .wrap-item {
    max-height: 280px !important; }

  #event .slide-event {
    margin-top: 110px !important; }
  #event .months {
    margin-top: 130px !important; } }
@media only screen and (max-width: 768px) {
  .slick-next {
    right: 0 !important; }

  .slick-prev {
    left: 0 !important; }

  header .overlay-screen-search .btn-close-search {
    right: 20px !important;
    top: 65px !important; }
  header .overlay-screen-search .dd-form-search {
    padding: 0 10px !important; }
    header .overlay-screen-search .dd-form-search .form-group {
      text-align: center; }
      header .overlay-screen-search .dd-form-search .form-group label {
        font-size: 22px !important;
        margin-bottom: 20px; }
      header .overlay-screen-search .dd-form-search .form-group i {
        left: 22px !important; }
  header #dd-menu .navbar-brand {
    max-width: 135px; }
  header .sticky {
    height: auto !important; }
  header .topbar-mobile {
    line-height: 40px;
    color: #fff;
    font-size: 12px; }
    header .topbar-mobile .sub-lang {
      display: none;
      background: #009688;
      width: 103px;
      position: absolute;
      right: 0;
      z-index: 999;
      text-align: left; }
      header .topbar-mobile .sub-lang li {
        width: 100%; }

  .navbar {
    position: inherit !important; }

  .navbar-light .navbar-toggler-icon {
    filter: brightness(0) invert(1) !important; }

  .navbar-toggler:focus {
    outline: none; }

  .navbar-light .navbar-toggler {
    border: none !important; }

  .navbar-nav {
    width: 100%;
    background: #0D3F38;
    left: 0;
    top: 72px;
    padding: 15px 10px !important; }

  #banner-360 {
    height: calc(100vh - 100px) !important; }
    #banner-360 #content-header {
      padding: 50px 0 !important; }
      #banner-360 #content-header h1 {
        font-size: 24px !important; }

  #about {
    padding: 35px 0 !important;
    height: auto !important; }
    #about .title {
      font-size: 21px; }
    #about h4 {
      margin-top: 25px; }
    #about .content-about {
      max-height: 300px !important;
      margin-bottom: 20px; }
      #about .content-about.show-more {
        overflow-y: hidden !important;
        padding-right: 0 !important;
        max-height: initial !important; }

  #destination .bg-des {
    height: auto !important;
    padding: 50px 0; }

  #profile {
    height: auto !important; }
    #profile .title {
      font-size: 21px;
      margin-top: 30px !important; }
    #profile button {
      padding: 10px 24px;
      font-size: 14px; }

  #events {
    height: auto !important;
    padding: 60px 0; }
    #events .title {
      top: -15px !important; }

  .banner-account .avatar {
    padding: 20px 0; }

  #page-account .dd-btn {
    line-height: 40px;
    width: 100%; }

  #page-account .reaction-list .reaction-item .name h3 {
    font-size: 16px; }

  #page-account .icon-action svg {
    height: 30px; }

  footer {
    padding-top: 33px;
    background: #019680; }
    footer .download {
      margin-top: 30px; }
    footer .about {
      margin-top: 30px; }
    footer .license {
      margin-top: 40px; }

  #tour .tour-item .content h2 {
    width: 100% !important;
    margin-bottom: 10px !important; }

  #tour .tour-item {
    margin-bottom: 20px; }

  #tour .tour-item .cover {
    height: 200px !important; }

  header #dd-menu .overlay-screen-search .dd-form-search {
    width: 94%; }

  header #dd-menu .overlay-screen-search .btn-close-search {
    right: 11px;
    top: 130px; }

  header #dd-menu .dd-search {
    display: none; }

  #destination {
    padding-bottom: 0 !important; }

  #events .months {
    display: none !important; }

  .tourist-features .wrap-item {
    margin: 0 10px !important;
    position: relative;
    box-shadow: 0px 3px 5px rgba(1, 0, 91, 0.32);
    border-radius: 8px;
    overflow: hidden;
    filter: none !important;
    color: #e67e22;
    transform: none !important;
    z-index: 999;
    height: 240px !important; }
    .tourist-features .wrap-item:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #155A50 48.16%);
      mix-blend-mode: normal;
      opacity: 0.91; }
    .tourist-features .wrap-item .content {
      display: block !important;
      position: absolute;
      bottom: 13px;
      z-index: 99999;
      padding: 24px 24px 0 24px; }
      .tourist-features .wrap-item .content h3 {
        font-weight: 600;
        font-size: 16px; }
        .tourist-features .wrap-item .content h3 a {
          color: #FFFFFF; }
      .tourist-features .wrap-item .content .address {
        font-size: 11px !important;
        color: #8CD9CD;
        margin-bottom: 5px; }
      .tourist-features .wrap-item .content p {
        color: #DEDEF7;
        font-size: 11px !important;
        margin-bottom: 10px; }
      .tourist-features .wrap-item .content button {
        display: none !important; }
  .tourist-features .slick-current.wrap-item {
    max-height: 250px !important; }

  #map .categoy-map {
    padding: 25px !important; }
    #map .categoy-map h3 {
      font-size: 20px !important; }
    #map .categoy-map ul li {
      font-size: 12px !important; }

  #map .info-pointer {
    display: none !important; }

  #destination .des-types .item {
    max-width: 33%;
    padding: 0 20px; }
    #destination .des-types .item .des-icon {
      margin: 0 auto !important; }
    #destination .des-types .item .des-title {
      width: 75px !important; }

  #event {
    min-height: auto !important;
    padding: 50px 0 !important; }
    #event .slide-event {
      height: auto !important; }
    #event .thumb-item {
      height: 240px !important; }
    #event .months {
      display: none !important; }

  #profile .view-info {
    height: 40vh !important; }

  .slick-prev, .slick-next {
    width: 40px !important;
    height: 40px !important; }

  .page-title {
    font-size: 24px !important; }

  .dd-btn {
    line-height: 44px !important;
    font-size: 16px !important; }

  .rating i {
    margin-right: 2px !important; }

  footer .license {
    font-weight: 400 !important; }
  footer .count-view {
    text-align: left !important;
    margin-top: 10px;
    font-weight: bold; }

  #page-detail .wrapper {
    padding-top: 20px; }

  #page-detail .wrapper .post-statistic {
    margin-bottom: 20px !important;
    font-size: 12px; }

  #page-detail .sdk-facebook button {
    background: #1F73F0;
    border-radius: 6.4px;
    font-weight: 600;
    font-size: 11px;
    border: none;
    padding: 0 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition: all .5s ease; }

  #page-detail .wrapper .post-videos .slider-nav {
    padding: 10px !important; }

  #page-detail .wrapper .post-videos .slider-nav .slick-slide {
    padding: 5px !important; }

  #page-detail .wrapper .post-videos .slider-nav .slick-slide.slick-current .thumb::before {
    max-width: 100% !important; }

  #page-detail .video-360 {
    height: auto !important; }

  #page-detail .thumb-item {
    height: 180px !important; } }

/*# sourceMappingURL=responsive.css.map */
