@media only screen and (min-width: 1000px) {
  .container-fluid {
    padding-right: 85px !important;
    padding-left: 85px !important;
  }
}

@media only screen and (min-width: 1600px) {
  #events .tourist-features .slick-center .wrap-item {
    max-height: 260px !important;
  }
  #events .tourist-features .wrap-item {
    max-height: 280px !important;
  }
  #event {
    .slide-event {
      margin-top: 80px !important;
    }

    .months {
      margin-top: 130px !important;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-sm-5 {
    flex: initial !important;
    max-width: inherit !important;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .container-fluid {
    padding-right: 60px !important;
    padding-left: 60px !important;
  }
}

@media only screen and (max-width: 1590px) {
  .dd-search .search-input-fake {
    display: none !important;
  }
}


@media only screen and (max-width: 768px) {
  .post-other {
    margin-top: 20px;
  }
  .bg-img {
    display: none;
  }
  .slick-next {
    right: 0 !important;
  }
  .slick-prev {
    left: 0 !important;
  }
  header {
    .overlay-screen-search {
      .btn-close-search {
        right: 20px !important;
        top: 65px !important;
      }

      .dd-form-search {
        padding: 0 10px !important;

        .form-group {
          text-align: center;

          label {
            font-size: 22px !important;
            margin-bottom: 20px;
          }

          i {
            left: 22px !important;
          }
        }
      }
    }

    #dd-menu .navbar-brand {
      max-width: 135px;
    }

    .sticky {
      height: auto !important;
    }

    .topbar-mobile {
      line-height: 40px;
      color: #fff;
      font-size: 12px;

      .sub-lang {
        display: none;
        background: #1d4e47;
        width: 103px;
        position: absolute;
        right: 0;
        z-index: 999;
        text-align: left;

        li {
          width: 100%;
        }
      }
    }
  }
  .navbar {
    position: inherit !important;
  }
  .navbar-light .navbar-toggler-icon {
    filter: brightness(0) invert(1) !important;
  }
  .navbar-toggler {
    &:focus {
      outline: none;
    }
  }
  .navbar-light .navbar-toggler {
    border: none !important;
  }
  .navbar-nav {
    width: 100%;
    background: #0D3F38;
    left: 0;
    top: 72px;
    padding: 15px 10px !important;
  }
  #banner-360 {
    height: calc(100vh - 100px) !important;

    .icon-scroll-down {
      bottom: 10px !important;
    }

    #content-header {
      padding: 50px 0 !important;

      h1 {
        font-size: 24px !important;
      }
    }
  }
  #about {
    padding: 35px 0 !important;
    height: auto !important;

    .title {
      font-size: 21px;
    }

    h4 {
      margin-top: 25px;
    }

    .content-about {
      max-height: initial !important;
      margin-bottom: 20px;

      &.show-more {
        overflow-y: hidden !important;
        padding-right: 0 !important;
        max-height: initial !important;
      }
    }
  }
  #destination .bg-des {
    height: auto !important;
    padding: 50px 0;
  }
  #profile {
    height: auto !important;

    .title {
      font-size: 21px;
      margin-top: 30px !important;
    }

    button {
      padding: 10px 24px;
      font-size: 14px;
    }
  }
  #events {
    height: auto !important;
    padding: 60px 0;

    .title {
      top: -15px !important;
    }
  }
  .banner-account .avatar {
    padding: 20px 0;
  }
  #page-account .dd-btn {
    line-height: 40px;
    width: 100%;
  }
  #page-account .reaction-list .reaction-item .name h3 {
    font-size: 16px;
  }
  #page-account .icon-action svg {
    height: 30px;
  }

  footer {
    padding-top: 33px;
    background: #019680;

    .download {
      margin-top: 30px;
    }

    .about {
      margin-top: 30px;
    }

    .license {
      margin-top: 40px;
    }
  }

  #tour .tour-item .content h2 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  #tour .tour-item {
    margin-bottom: 20px;
  }
  #tour .tour-item .cover {
    height: 200px !important;
  }
  header #dd-menu .overlay-screen-search .dd-form-search {
    width: 94%;
  }
  header #dd-menu .overlay-screen-search .btn-close-search {
    right: 11px;
    top: 130px;
  }
  header #dd-menu .dd-search {
    display: none;
  }
  #destination {
    padding-bottom: 0 !important;
  }
  #events .months {
    display: none !important;
  }
  .tourist-features {
    .wrap-item {
      margin: 0 10px !important;
      position: relative;
      box-shadow: 0px 3px 5px rgba(1, 0, 91, 0.32);
      border-radius: 8px;
      overflow: hidden;
      filter: none !important;
      color: #e67e22;
      transform: none !important;
      z-index: 999;
      max-height: 250px !important;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(1, 150, 128, 0.05) 0%, #000000 99.94%);
        mix-blend-mode: normal;
        opacity: 0.91;
      }

      .content {
        display: block !important;
        position: absolute;
        bottom: 13px !important;
        z-index: 99999;
        padding: 24px 24px 0 30px !important;

        h3 {
          font-weight: 600;
          font-size: 16px !important;

          a {
            color: #FFFFFF;
          }
        }

        .address {
          font-size: 11px !important;
          color: #8CD9CD;
          margin-bottom: 5px;
        }

        p {
          color: #DEDEF7;
          font-size: 11px !important;
          margin-bottom: 10px;
        }

        button {
          display: none !important;
        }
      }
    }
  }
  #map {
    .btn-show {
      transition: all 1s ease;
      left: 0;
      z-index: 99;
      position: absolute;
      top: 92px;
      background: rgb(74, 79, 82);
      border: navajowhite;
      color: #ffffff;
      font-size: 20px;
      padding: 0 13px;
      height: 40px;
      text-align: center;
      line-height: 40px;

      &:focus {
        outline: none;
      }
    }

    .categoy-map {
      padding: 34px !important;

      h3 {
        font-size: 20px !important;
        margin-bottom: 26px !important;
        margin-left: 10px;
      }

      ul {
        li {
          font-size: 12px !important;
        }
      }
    }
  }
  #map .info-pointer {
    display: none !important;
  }
  #destination .des-types .item {
    max-width: 33%;
    padding: 0 20px;

    .des-icon {
      margin: 0 auto !important;
    }

    .des-title {
      width: 90px !important;
    }
  }
  #event {
    min-height: auto !important;
    padding: 50px 0 !important;

    .slide-event {
      height: auto !important;
    }

    .thumb-item {
      height: 240px !important;
    }

    .months {
      display: none !important;
    }

    .months-mobile {
      display: block !important;
    }
  }
  #profile .view-info {
    height: 250px !important;
  }
  .slick-prev, .slick-next {
    width: 40px !important;
    height: 40px !important;
  }
  .page-title {
    font-size: 24px !important;
  }
  .dd-btn {
    line-height: 44px !important;
    font-size: 16px !important;
  }
  .rating i {
    margin-right: 2px !important;
  }

  footer {
    .license {
      font-weight: 400 !important;
    }

    .count-view {
      text-align: left !important;
      margin-top: 10px;
      font-weight: bold;
    }
  }
  #page-detail {
    .booking-now {
      width: 100%;
    }

    .float-btn.fixed {
      left: 54px !important;
      z-index: 99;
      top: 70% !important;
    }
  }
  #page-detail .wrapper {
    padding-top: 20px;
  }
  #page-detail .wrapper .post-statistic {
    margin-bottom: 20px !important;
    font-size: 12px;
  }
  #page-detail .sdk-facebook {
    button {
      background: #1F73F0;
      border-radius: 6.4px;
      font-weight: 600;
      font-size: 11px;
      border: none;
      padding: 0 16px;
      line-height: 24px;
      color: #FFFFFF;
      transition: all .5s ease;
    }
  }
  #page-detail .wrapper .post-videos .slider-nav {
    padding: 10px !important;
  }
  #page-detail .wrapper .post-videos .slider-nav .slick-slide {
    padding: 5px !important;
  }
  #page-detail .wrapper .post-videos .slider-nav .slick-slide.slick-current .thumb::before {
    max-width: 100% !important;
  }
  #page-detail .video-360 {
    height: auto !important;
  }
  #page-detail .video-360 iframe{
    height: 50vh !important;
  }
  #page-detail {
    .thumb-item {
      height: 200px !important;
    }
  }
  #page-detail .wrapper .post-videos .slider-nav .item .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
  }
  #page-detail .wrapper .post-videos .slider-nav .item .icon-360 {
    right: 10px !important;
    top: 10px !important;
  }
  #page-detail .icon-360 {
    width: 30px !important;
    height: 30px !important;
  }
}
