.banner-account {
  background: linear-gradient(156.47deg, #019680 7.66%, #0081D9 106.47%);
  opacity: 0.77;
  text-align: center; }
  .banner-account .avatar {
    font-size: 62px;
    color: #fff;
    padding: 40px 0; }
  .banner-account.page-account {
    text-align: left; }
    .banner-account.page-account .avatar {
      display: flex;
      align-items: center; }
      .banner-account.page-account .avatar .thumb {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden; }
        .banner-account.page-account .avatar .thumb img {
          vertical-align: inherit; }
        .banner-account.page-account .avatar .thumb:hover .upload-avatar {
          opacity: 1; }
        .banner-account.page-account .avatar .thumb .upload-avatar {
          transition: opacity .5s ease-in-out;
          opacity: 0;
          position: absolute;
          z-index: 9;
          top: 0;
          left: 0;
          font-size: 10px;
          text-align: center;
          box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.06);
          background: #393e41bd;
          height: 100%;
          padding: 14px 11px;
          cursor: pointer; }
          .banner-account.page-account .avatar .thumb .upload-avatar p {
            margin-top: 5px; }
    .banner-account.page-account .user-name {
      font-weight: bold;
      font-size: 24px;
      color: #FFFFFF;
      margin-left: 16px; }

.page-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #019680;
  margin-bottom: 40px;
  text-transform: uppercase; }

.secondary-page {
  padding: 56px 0; }
  .secondary-page .dd-form {
    text-align: left; }
    .secondary-page .dd-form label {
      font-weight: 600;
      font-size: 12px;
      color: #828282;
      margin-left: 15px; }
    .secondary-page .dd-form input {
      border: 1px solid #EFEFF1;
      box-sizing: border-box;
      border-radius: 8px;
      font-size: 16px; }
      .secondary-page .dd-form input:focus {
        border: 1px solid #019680;
        box-shadow: none; }
      .secondary-page .dd-form input:active {
        border: 1px solid #019680;
        box-shadow: none; }
    .secondary-page .dd-form .text {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #393E41;
      opacity: 0.6;
      margin-top: 40px; }
    .secondary-page .dd-form .forgot-pass {
      font-size: 16px;
      color: #019680;
      text-decoration-line: underline; }
    .secondary-page .dd-form .have-account {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      margin-top: 24px; }
      .secondary-page .dd-form .have-account a {
        text-decoration-line: underline;
        color: #019680; }

#page-confirm .content {
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6); }
  #page-confirm .content ul {
    list-style: none; }
    #page-confirm .content ul li {
      margin-bottom: 10px;
      position: relative;
      padding-left: 34px; }
      #page-confirm .content ul li:before {
        content: "";
        position: absolute;
        background: url(../img/icon-arrow-right.svg) no-repeat;
        width: 29px;
        height: 30px;
        left: 0;
        top: 9px; }

.dd-btn {
  background: #019680;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 12px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  width: 100%;
  border: none;
  color: #FFFFFF;
  line-height: 50px;
  padding: 0;
  transition: all .3s linear; }
  .dd-btn:hover {
    background: #0b5147; }

#page-account .sub-title {
  font-weight: 600;
  font-size: 24px;
  color: #393E41; }
#page-account .change-password {
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #019680; }
#page-account p {
  font-size: 16px;
  line-height: 22px;
  color: #393E41;
  opacity: 0.6; }
#page-account .dd-btn {
  padding: 0 90px;
  width: auto; }
#page-account .dd-section-item {
  padding: 30px 0;
  border-bottom: 1px solid #EFEFF1; }
  #page-account .dd-section-item:last-child {
    border: none; }
#page-account .reaction-list .reaction-item {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
  border-radius: 8px;
  margin-bottom: 8px;
  width: 100%;
  padding: 16px;
  align-items: center;
  color: inherit;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1); }
  #page-account .reaction-list .reaction-item .thumb {
    border-radius: 8px;
    overflow: hidden;
    max-width: 120px;
    margin-right: 15px;
    justify-content: flex-start; }
  #page-account .reaction-list .reaction-item .name {
    text-align: left;
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
    #page-account .reaction-list .reaction-item .name h3 {
      font-weight: 600;
      font-size: 21px; }
      #page-account .reaction-list .reaction-item .name h3 a {
        color: #393E41; }
    #page-account .reaction-list .reaction-item .name p {
      font-size: 16px;
      line-height: 22px;
      color: rgba(57, 62, 65, 0.6); }
  #page-account .reaction-list .reaction-item .icon-action {
    justify-content: flex-end;
    text-align: right; }
    #page-account .reaction-list .reaction-item .icon-action img {
      width: 50%; }

#page-result .page-title {
  font-weight: 600;
  font-size: 24px;
  text-transform: inherit;
  color: #393E41;
  margin-bottom: 16px; }
#page-result .search-text {
  font-size: 24px;
  color: rgba(57, 62, 65, 0.61);
  text-align: center; }
#page-result .list-result {
  margin-top: 30px; }
  #page-result .list-result .result-item {
    display: flex;
    background: #FFFFFF;
    margin-bottom: 8px;
    box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
    border-radius: 8px;
    padding: 16px; }
  #page-result .list-result .thumb {
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    overflow: hidden;
    margin-right: 16px;
    max-width: 120px;
    max-height: 78px; }
  #page-result .list-result .content {
    flex: 3; }
    #page-result .list-result .content h2 {
      font-weight: 600;
      font-size: 20px; }
      #page-result .list-result .content h2 a {
        color: #393E41; }
    #page-result .list-result .content p {
      font-size: 14px;
      line-height: 22px;
      color: rgba(57, 62, 65, 0.61); }

/*# sourceMappingURL=secondary-page.css.map */
