.banner-account {
  background: linear-gradient(156.47deg, #019680 7.66%, #0081D9 106.47%);
  opacity: 0.77;
  text-align: center;
  .avatar {
    font-size: 62px;
    color: #fff;
    padding: 40px 0;
  }
  &.page-account {
    text-align: left;
    .avatar {
      display: flex;
      align-items: center;
      .thumb {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        img {
          vertical-align: inherit;
        }
        &:hover {
          .upload-avatar {
            opacity: 1;
          }
        }
        .upload-avatar {
          transition: opacity .5s ease-in-out;
          opacity: 0;
          position: absolute;
          z-index: 9;
          top: 0;
          left: 0;
          font-size: 10px;
          text-align: center;
          box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.06);
          background: #393e41bd;
          height: 100%;
          padding: 14px 11px;
          cursor: pointer;
          p {
            margin-top: 5px;
          }
        }
      }
    }
    .user-name {
      font-weight: bold;
      font-size: 24px;
      color: #FFFFFF;
      margin-left: 16px;
    }
  }
}

.page-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #019680;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.secondary-page {
  padding: 56px 0;
  .dd-form {
    text-align: left;
    label {
      font-weight: 600;
      font-size: 12px;
      color: #828282;
      margin-left: 15px;
    }
    input {
      border: 1px solid #EFEFF1;
      box-sizing: border-box;
      border-radius: 8px;
      font-size: 16px;
      &:focus {
        border: 1px solid #019680;
        box-shadow: none;
      }
      &:active {
        border: 1px solid #019680;
        box-shadow: none;
      }
    }
    .text {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #393E41;
      opacity: 0.6;
      margin-top: 40px;
    }
    .forgot-pass{
      font-size: 16px;
      color: #019680;
      text-decoration-line: underline;
    }
    .have-account {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      margin-top: 24px;
      a {
        text-decoration-line: underline;
        color: #019680;
      }
    }
  }
}

#page-confirm {
  .content {
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    ul {
      list-style: none;
      li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 34px;
        &:before {
          content: "";
          position: absolute;
          background: url(../img/icon-arrow-right.svg) no-repeat;
          width: 29px;
          height: 30px;
          left: 0;
          top: 9px;
        }
      }
    }
  }
}

.dd-btn {
  background: #019680;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 12px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  width: 100%;
  border: none;
  color: #FFFFFF;
  line-height: 50px;
  padding: 0;
  transition: all .3s linear;
  &:hover {
    background: #0b5147;
  }
}

#page-account {
  .sub-title {
    font-weight: 600;
    font-size: 24px;
    color: #393E41;
  }
  .change-password {
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #019680;
  }
  p {
    font-size: 16px;
    line-height: 22px;
    color: #393E41;
    opacity: 0.6;
  }
  .dd-btn {
    padding: 0 90px;
    width: auto;
  }
  .dd-section-item {
    padding: 30px 0;
    border-bottom: 1px solid #EFEFF1;
    &:last-child {
      border: none;
    }
  }
  .reaction-list {
    .reaction-item {
      background: #FFFFFF;
      box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
      border-radius: 8px;
      margin-bottom: 8px;
      width: 100%;
      padding: 16px;
      align-items: center;
      color: inherit;
      display: flex;
      font-size: 16px;
      font-weight: 400;
      position: relative;
      text-decoration: none;
      transition: .3s cubic-bezier(.25, .8, .5, 1);
      .thumb {
        border-radius: 8px;
        overflow: hidden;
        max-width: 120px;
        margin-right: 15px;
        justify-content: flex-start;
      }
      .name {
        text-align: left;
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        h3 {
          font-weight: 600;
          font-size: 21px;
          a {
            color: #393E41;
          }
        }
        p {
          font-size: 16px;
          line-height: 22px;
          color: rgba(57, 62, 65, 0.6);
        }
      }
      .icon-action {
        justify-content: flex-end;
        text-align: right;
        img{
          width: 50%;
        }
      }
    }
  }
}

#page-result {
  .page-title {
    font-weight: 600;
    font-size: 24px;
    text-transform: inherit;
    color: #393E41;
    margin-bottom: 16px;
  }
  .search-text {
    font-size: 24px;
    color: rgba(57, 62, 65, 0.61);
    text-align: center;
  }
  .list-result {
    margin-top: 30px;
    .result-item {
      display: flex;
      background: #FFFFFF;
      margin-bottom: 8px;
      box-shadow: 0px 4px 8px rgba(176, 190, 197, 0.24);
      border-radius: 8px;
      padding: 16px;
    }
    .thumb {
      box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.06);
      border-radius: 8px;
      overflow: hidden;
      margin-right: 16px;
      max-width: 120px;
      max-height: 78px;
    }
    .content {
      flex: 3;
      h2 {
        font-weight: 600;
        font-size: 20px;
        a {
          color: #393E41;
        }
      }
      p {
        font-size: 14px;
        line-height: 22px;
        color: rgba(57, 62, 65, 0.61);
      }
    }
  }
}